<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KowaGigEVisionViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <KowaGigEVisionViewer.Properties.Settings>
            <setting name="SaveType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveImageFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveVideoFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveQuality" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Point1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Point2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Point3" serializeAs="String">
                <value>0</value>
            </setting>
        </KowaGigEVisionViewer.Properties.Settings>
    </userSettings>
</configuration>