root = true

[*.{c,h,cpp,hpp,cs,xaml}]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,h,cpp,hpp}]
charset = utf-8-bom

[*.{cs,xaml}]
charset = utf-8

[/Readme.txt]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
